body {
  background-color: black;
  text-align: center;
  font-family: 'Verdana';
}

h1 {
  font-weight: Normal;
  font-size: 50px;
  color: white;
}

.link {
  color: Aquamarine;
  font-size: 16px;
}

h2 {
  font-size: 42px;
  color: white;
  font-family: Verdana;
}

p {
  font-size: 21px;
  color:Gray;
}

.endnote {
  color: Gray;
  text-align: right;
}
